// 全局变量定义

// global
$global-foreground: #000 !default;
$global-background: #FFF !default;

$global-font-size: 0.875rem !default; // 14px
$global-font-size-title: 1rem !default; // 16px
$global-font-size-h1: 3rem !default;

$def-margin: 5px; // 默认使用间距
